<h2>{{i18n.events.title}}</h2>
<p>El marco incomparable del Muelle Benabola, el mar, es el sitio ideal para celebrar junto a nosotros, todo aquello que es cercano a su corazón, cumpleaños, bodas, bautizos, comuniones, sus comidas de empresas.</p>
<p>Nuestro personal lo atenderá gustosamente y Ud. se sentirá en las mejores manos porque son auténticos profesionales</p>