<h2>{{i18n.home.title}}</h2>
<p>Bienvenidos al Gaucho de Banús Argentinian Grill, en la primera linea del Muelle Benabola, Puerto Banús,  donde le esperamos para disfrutar junto a su familia y amigos de momentos únicos e irrepetibles.</p>
<p>Un espacio amplio, diáfano y a la vez acojedor  en el cual todas los días sus sentidos se pondrán a flor de piel ante los pasos de baile que acompañarán vuestras cenas.</p>
<p>El asado,  esa tradición de la que cada uno guarda su secreto, mucho se podrá escribir, pero nada, supera a la maestría del asador argentino.</p>
