<div class="contact_container">
    <ul class="address">
        <li>{{i18n.global.address1}}</li>
        <li>{{i18n.global.address2}}</li>
    </ul>
    <ul class="contact">
        <li>{{i18n.global.phone}}</li>
        <li><a href="mailto:reservas@elgauchodebanus.com">reservas@elgauchodebanus.com</a></li>
    </ul>
</div>
