{% spaceless %}
<ul class="menu">
{% for key,name in i18n.pages %}
    <li><a {% if key == pageKey %}class="selected"{% endif %} href="{{key}}.html">{{ name }}</a></li>
{% endfor %}
</ul>
{% endspaceless %}