<ul class="social">
    <li><a class="fb" href="http://fb.com">facebook</a></li>
    <li><a class="twitter" href="http://twitter.com">twitter</a></li>
    <li><a class="google_plus" href="http://plus.google.com">google plus</a></li>
</ul>
