<ul class="social">
    <li><a class="fb" href="fb.com">facebook</a></li>
    <li><a class="twitter" href="twitter.com">twitter</a></li>
    <li><a class="google_plus" href="plus.google.com">google plus</a></li>
</ul>
