<!doctype html>
<html>
<head>
    <title>{{ i18n[pageKey].title }} | {{ globals.companyName }}</title>
    {% include 'partials/meta' %}

    {% include 'partials/scripts' %}
    
    {% include 'partials/styles' %}

</head>
<body>
    <h1>No Default Layout</h1>
    
    {% include 'partials/header' %}

    {% include 'partials/menu' %}
    
    {% include pageKey %}
</body>
</html>